@tailwind base;
@tailwind components;
@tailwind utilities;
/* .swiper {
  width: 760px;
} */

.slide-size {
  display: flex;
    height: 26px;
    align-items: center;
    font-size: 10px;
}

.slide-size-1 {
  display: flex;
    height: 20px;
    align-items: center;
    font-size: 11px;
}

.slide-size-2 {
  display: flex;
    height: 12px;
    align-items: center;
    font-size: 10px;
}

