@tailwind base;
@tailwind components;
@tailwind utilities;
/* .swiper {
  width: 760px;
} */

.slide-size {
  display: flex;
    height: 26px;
    width: 26px;
    align-items: center;
    font-size: 10px;
}

.slide-size-1 {
  display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    font-size: 11px;
}

.slide-size-2 {
  display: flex;
    height: 12px;
    width: 12px;
    align-items: center;
    font-size: 10px;
}

.textarea-container {
  display: flex;
  gap: 10px;
  font-family: monospace;
  line-height: 21px;
  background: #282a3a;
  position: relative;
}

textarea {
  line-height: 21px;
  overflow-y: hidden;
  padding: 0;
  border: 0;
  background: #282a3a;
  color: #FFF;
  min-width: 500px;
  outline: none;
  resize: none;  
}

.line-numbers {
  width: 20px;
  text-align: right;
}

.line-numbers span {
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #bdd7f4;
}


